pipeline/Parent.json
{
	"name": "Parent",
	"properties": {
		"activities": [
			{
				"name": "ExecuteApi",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteOnPrem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem-ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						},
						"p_mapping_flight": {
							"value": "@pipeline().parameters.p_mapping_flight",
							"type": "Expression"
						},
						"p_mapping_passenger": {
							"value": "@pipeline().parameters.p_mapping_passenger",
							"type": "Expression"
						},
						"p_mapping_airline": {
							"value": "@pipeline().parameters.p_mapping_airline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteApi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL To DataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Failure Trigger",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					},
					{
						"activity": "ExecuteApi",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ExecuteOnPrem",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-31.centralindia.logic.azure.com:443/workflows/17f57c1d82e14c668b46c661da6213ce/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=913l19PUuSeAdYdz4EyWZOAyhO8CRDLYcHjZbpXvJQA",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"pipeline_name\": \"@{pipeline().Pipeline}\",\n  \"pipeline_id\": \"@{pipeline().RunId}\",\n  \"Error_message\": \"@{activity('ExecuteIncremental').error.message}\",\n  \"status\": \"@{activity('ExecuteIncremental').Status}\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Silver Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Data Transformation",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimFlight.csv"
					},
					{
						"file_name": "DimAirline.csv"
					}
				]
			},
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airline": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-28T05:18:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}