pipeline/SQL To DataLake.json
{
	"name": "SQL To DataLake",
	"properties": {
		"activities": [
			{
				"name": "Check last date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "maxoflatestload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(booking_date) as Latest_load \nfrom FACTBOOKINGS",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Checkdate",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check last date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "maxoflatestload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    activity('Check last date').output.firstRow.lastload,\n    activity('maxoflatestload').output.firstRow.Latest_load\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM FACTBOOKINGS \nwhere booking_date > '@{activity('Check last date').output.firstRow.lastload}' \nand booking_date <= '@{activity('maxoflatestload').output.firstRow.Latest_load}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "jsonsink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Watermark",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "lastlaod",
											"value": {
												"value": "@activity('maxoflatestload').output.firstRow.Latest_load",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_empty",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_lookup",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"v_now": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-28T03:46:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}